<div class="module">
  <h1 class="module_heading">Popular on Streaming</h1>
  <div class="test">
    <div id="panel_1">
      <h3 class="module_subheading">Amazon</h3>
      <img src="../assets/images/placeholder_portrait.png">
    </div>

    <div id="panel_2">
      <h3 class="module_subheading">Netflix</h3>
      <img src="../assets/images/placeholder_portrait.png">
    </div>

    <div id="panel_3">
      <h3 class="module_subheading">Hulu</h3>
      <img src="../assets/images/placeholder_portrait.png">
    </div>

    <div id="panel_4">
      <img src="../assets/images/placeholder_landscape.png">
      <a class="supplement" href="#">See all Amazon</a>
    </div>

    <div id="panel_5">
      <img src="../assets/images/placeholder_landscape.png">
    </div>

    <div id="panel_6">
      <img src="../assets/images/placeholder_landscape.png">
      <a class="supplement" href="#">See all Netflix</a>
    </div>

    <div id="panel_7">
      <img src="../assets/images/placeholder_landscape.png">
    </div>

    <div id="panel_8">
      <img src="../assets/images/placeholder_landscape.png">
      <a class="supplement" href="#">See all Hulu</a>
    </div>

    <div id="panel_9">
      <img src="../assets/images/placeholder_landscape.png">
    </div>
  </div>
</div>
