<div class="module">

  <h1 class="module_heading">WATCH IT AGAIN</h1>
  <h3 class="module_subheading">And again, and again...</h3>

  <ul class="block_thirds">

    <li class="block_item">
      <img src="../assets/images/placeholder_landscape.png">
    </li>

    <li class="block_item">
      <img src="../assets/images/placeholder_landscape.png">
    </li>

    <li class="block_item">
      <img src="../assets/images/placeholder_landscape.png">
    </li>

  </ul>

  <ul class="block_thirds">

    <li class="block_item">
      <img src="../assets/images/placeholder_landscape.png">
    </li>

    <li class="block_item">
      <img src="../assets/images/placeholder_landscape.png">
    </li>

    <li class="block_item">
      <img src="../assets/images/placeholder_landscape.png">
    </li>

  </ul>

  <div class="supplement">See More Cult Classics:
    <a href="#">TV</a>,
    <a href="#">Movies</a>,
    <a href="#">All</a>
  </div>

</div>
