<!DOCTYPE html>
<html>
  {% include head.html %}


<body>

      <div id="left" class="column">
			     <div class="top-left">
             <ul>
     					<li>this is top left nav</li>
     				</ul>
           </div>

           <div class="bottom">
				     {{ content }}
			     </div>
		 </div>

      <div id="right" class="column">

        <div class="top-right">
  				<ul>
  					<li>this is top right nav</li>
  				</ul>
  			</div>

      <div class="bottom">
				<p>This is sidebar content</p>
      </div>

		</div>
</body>

</html>
